body {
    background-color: grey;
    color: white;
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
}




#backgroundBox {
    background-color: goldenrod;
    position: relative;
    margin: auto;
    text-align: center;
    height: 500px;
    width: 500px;
    z-index: 0;
}
#variableBox {
    background-color: rgb(102, 14, 14);
    position: relative;
    top: 50px;
    margin: auto;
    height: 400px;
    width: 400px;
    z-index: 1;
}