
container {
    background-color: black;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(7, 50px);
    column-gap: 3px;
    row-gap: 3px;
}
h1 {
    
    color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 250%;
    place-self: center;
}

form {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: block;
}
#display {
    height: 44px;
    width: 203px;
    resize: none;    
    text-align: end;
}
#reset {
    grid-column-start: 1;
    grid-column-end: 3;

}
#zero {
    grid-column-start: 1;
    grid-column-end: 3
}
.digit {
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    font-size: large;
    font-weight: bolder;
}
.operator {
    background-color: orange;
    color: white;
    font-size: large;
    font-weight: bolder;
}
#reset, #plusMinus {
    background-color: rgb(226, 226, 226);
} 