body {

    background-color: rgb(189, 149, 96)
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    color: #f0fff0;
}
::placeholder {
    color: grey;
    text-align: center;
}
textarea {
    height: 500px;
    width: 300px;
    border-radius: 5%;
}
#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25%;
    gap: 5%;
}
#buttonsSpace {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
button {
    height: 80px;
    width: 100px;
}
