.container {
    background-color: brown;
    text-align: center;
    padding: 10px;
    
}
span {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 45%;
    font-size: 50px;
    display: center;
    background-color: white;

}
.buttonContainer {
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.btn {
    color: goldenrod;
    background-color: rgb(84, 8, 184);
    width: 50px;
}
