
html {
    height: 100%;
    width: 100%;
    background-color: grey;
}
body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [line1] 40% [line2] auto [line3] 40%;
    grid-template-rows: [start] 10% [main] auto [end] 30%;
}
container {
    padding: 3px;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: main;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 23%);
    grid-template-rows: repeat(6, 14,2857143%);
    column-gap: 3px;
    row-gap: 3px;    
}
#headline {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 300%;
    font-weight: bolder;
    color: blueviolet;
    background-color: black;
}
form {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: [line1] 35% [line2] auto [line3] 35%;
    grid-template-rows: [start] 10% [main] auto [end] 10%;
    background-color: brown;
}
#display {
    grid-column-start: line1;
    grid-column-end: 4;
    grid-row-start: start;
    grid-row-end: 4;
    resize: none;
    text-align: center;
    font-weight: bolder;
    font-size: 300%;
}
#reset {
    grid-column-start: 1;
    grid-column-end: 3;
}
#zero {
    grid-column-start: 1;
    grid-column-end: 3
}
.digit {
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    font-size: large;
    font-weight: bolder;
    font-size: 200%;
    border-radius: 5%;
}
.operator {
    background-color: orange;
    color: white;
    font-size: large;
    font-weight: bolder;
    font-size: 150%;
    border-radius: 5%;
}
.button:active,
.active {
    background-color: white;
    color: orange;
}
#reset, #plusMinus {
    background-color: rgb(226, 226, 226);
    font-size: 150%;
    font-weight: bold;
    border-radius: 5%;    
}
